<section class="studies">
  <div class="container">
    <h2>Studies</h2>
    <h3>Primary aim</h3>
    <p>
      An Exploratory Factor Analysis will be used to assess the underlying structures of all the time points of measuring the real-time data. A Confirmatory Factor Analysis will be used to assess the content validity of real-time data based on the original questionnaire’s dimensions. The Cronbach alpha coefficients will be used to assess the real-time dimensions’ internal consistency (reliability). The correlation coefficients between the real-time and retrospective data will be used to assess the real time data’s convergent validity. 
    </p>
    <h3>Secondary aims</h3>
    <p>
      Regression modeling will be used to assess the real-time data concurrent and predictive validity. The two types of HRQOL assessment will be used as predictors and sleep quality as the outcome. Feasibility questions will be analyzed calculating percentages (close-ended questions) and using content analysis (open-ended questions). The association of HRQOL with social power, other socio-demographic characteristic, life events and mood will be assessed using a Structural Equation Modeling. 
    </p>
    <h3>Goals for dissemination</h3>
    <p>
      We will aim to disseminate the findings of the study to a wide audience ranging from academics, technicians and clinicians to psychology students. A methodology paper will be submitted the Journal of European Psychology Students (JEPS) and the findings will be submitted to peer-reviewed journals. We will also present the findings to several Conferences whereas the study website will be disseminating all the research group’s activities. 
    </p>
  </div>
</section>