<section id="ethics">
  <div class="container">
    <h2>Ethics</h2>
    <p>
      All information that participants will provide will be treated according to ethical standards. Information will be anonymous and all efforts will be made to ensure data confidentiality. Participants’ responses will be stored in a cloud-based database with only the study’s Principal Investigator having access using a dedicated password. All data will be analyzed and will be disseminated in peer-reviewed journals and conferences. Participants will be informed that they will be able to end their participation if they wish to and contact their department if they have any issues with the study. 
    </p>
  </div>
</section>