<section class="apply">
  <div class="container">
    <h2>Do you want to be part of it?</h2>
    <h3>Fill up the form and we'll send you a confirmation email with the next steps to follow</h3>
    <form>
      <label for="email"></label>
      <input type="email" name="email" id="email" value="Email"><br>
      <label for="location"></label>
      <input type="text" name="location" id="location" value="Location"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>