<section class="apply">
  <div class="container">
    <h2>Do you want to be part of it?</h2>
    <h3>Fill up the form and we'll send you a confirmation email with the next steps to follow</h3>
    <div class="row">
      <form class="col-md-4 col-md-offset-4">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email">
        <label for="location"></label>
        <input type="text" name="location" id="location" placeholder="Location">
        <input type="submit" value="Submit">
      </form>
    </div>
    <p>If you have any questions or require further information, please <a href="#">contact us</a>.</p>
  </div>
</section>