<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <ul class="nav nav-list col1 col-sm-8">
        <li><a href="#intro" class="hidden page-scroll" aria-hidden="true"></a></li>    
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#studies" class="page-scroll">Studies</a></li>
        <li><a href="#team" class="page-scroll">Research Team</a></li>
        <li><a href="#ethics" class="page-scroll">Ethics</a></li>
        <li><a href="#apply" class="page-scroll">Apply</a></li> 
        <li><a href="#contactModal" data-toggle="modal" class="page-scroll">Contact Us</a></li>
      </ul>
      <div class="col2 col-sm-4">
        <a href="http://www.researchgate.com"><img alt="Research Gate logo" src="<%= asset_path 'research-gate-logo.png' %>" /></a>
      </div>
    </div>
    <div class="created-by">
      <p>created_by elenagarrone</p>
    </div>
  </div>
</div>