<section class="intro">
  <div class="container">
    <h1>Ecological Momentary Assessment of University Students’ Health-Related Quality of Life using a Smartphone Application</h1>
  </div>
</section>