<section id="about">
  <div class="container">
    <h2>About</h2>
    <p>
      The World Health Organization (WHO) defines Health-Related Quality of Life (HRQOL) as one’s perception of their life position in relation to expectations, goals, standards and concerns (The WHOQOL Group, 1995). Measuring HRQOL may have clinical benefits including better patient outcomes (Velikova et al., 2004). Current practice conveys using various standardized and validated self-report questionnaires. On the other hand, retrospective self-reports may compromise the validity of data (Solhan, Trull, Jahng, & Wood, 2009). Real-time data using mobile applications for health (mHealth) can offer ecologically valid data, minimizing data entry barriers (Shiffman, Stone, & Hufford, 2008). Therefore, researchers and clinicians can have access to an Ecologically Momentary Assessment (EMA) of HRQOL data measured in real world conditions. In this context there is no evidence on the validity and usefulness of collecting HRQOL data using mHealth applications. This was recently set as a priority in an evidence workshop of the US National Institute of Health (Kumar et al., 2013). 

      The study’s primary research aim is to assess the reliability and validity of using an mHealth application for collecting real-time HRQOL data compared to retrospective assessment. The secondary aims are to assess the applications’ usefulness and feasibility, examine cultural differences of university students’ HRQOL and to assess factors (quality of sleep, social power) associated with real-time HRQOL. 
    </p>
  </div>
</section>