<div class="contact-modal modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Contact Us</h2>
                        <p class="item-intro text-muted">For any questions or further information, please fill up the form:</p>
                          <form>
                            <label for="email"></label>
                            <input type="email" name="email" id="email" placeholder="Email">
                            <textarea placeholder="Write here..."></textarea>
                            <input type="submit" value="Submit">
                          </form>
                        <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>