//FONT
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic);
@import "font-awesome";
$fontLato: 'Lato', 'Arial', sans-serif;
$fontRoboto: 'Roboto', 'Arial', sans-serif;
$fontItalic: 'Droid Serif', 'Georgia', serif;
$fontAwesome: 'FontAwesome';


//HOMEPAGE VARIABLES
$flags-dropdown-background-hover: rgba(255, 255, 255, 0.27);
$textWhite: #ffffff;
$textRed: #f95d5f;
$textGrey: #C0C0C0;
$backgroundRed: #f95d5f;
$backgroundWhite: #ffffff;
$backgroundGrey: #f2f2f2;
$backgroundDarkGrey: #515151;
$hoverRed: rgba(249, 93, 95, 0.9);
$white: #ffffff;
$red: #f95d5f;
$grey: #515151;
