/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "mixins";
@import "variables";

html, body {
  @include fontsize(16);
  font-family: $fontRoboto;
  font-weight: 300;

  h1, h2 {
    font-weight: 700;
  }

  a {
    color: $textRed;

    &:hover, &:focus, &:active {
      color: $textRed;
    }
  }

  ::selection {
    background: $red;
    color: $textWhite;
  }

  .hidden {
    display: none;
  }

  .flex-row {
    display: flex;
  }
}

.header {
  background: $backgroundRed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: auto;
  z-index: 100;

  @include breakpoint(sm) {
    height: 150px;
  }

  ::selection {
    background: $backgroundGrey;
    color: $textWhite;
  }

  .logo {
    position: relative;
    top: 0;
    left: 5%;
    width: 90px;

    @include breakpoint(sm) {
      top: 75px;
      left: 10%;
      width: 90px;
      transform: translate(-50%, -50%);
    }

    @include breakpoint(md) {
      width: 150px;
      transform: 0;
    }
    
  }

  .menu {
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 25px;
    width: 40px;
    height: 42px;

    @include breakpoint(sm) {
      right: 15px;
      top: 60px;
    }

    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 7px solid $white;
      border-radius: 5px;
      width: 100%;
      transition: 0.55s;
    
      &.menu-top {
        top: 0;
      }

      &.menu-middle {
        top: 18px;
      }

      &.menu-bottom {
        top: 36px;
      }

      &.menu-top-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(50deg);
        transition: 0.55s 0.5s;
      }

      &.menu-middle-click {
        opacity: 0;
      }

      &.menu-bottom-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(-410deg);
        transition: 0.55s 0.5s;
      }
    }
  }

  .navigation {
    display: none;

    &.is-active {
      display: block;
    }

    @include breakpoint(sm) {
      display: inline-block;
      float: right;
    }

    ul {
      right:0;

      @include breakpoint(sm) {
        right: 10%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }

      li {
        display: block;
        text-transform: uppercase;
        height: 100%;

        @include breakpoint(sm) {
          display: inline-block;
        }

        &.active {
          a {
            transition: background .2s ease-in;
            transition: color .2s ease-in;
            color: $textWhite;
            text-decoration: underline;
          }
        }

        a {
          @include fontsize(14);
          color: $textWhite;
          background: $backgroundRed;
          display: block;
          border-top: 1px solid $white;
          vertical-align: middle;
          text-decoration: none;

          @include breakpoint(sm) {
            display: inline-block;
            padding: 64px 15px;
            border: 0;
          }

          @include breakpoint(md) {
            @include fontsize(16);
          }

          @include breakpoint(lg) {
            padding: 64px 30px;
          }

          &:hover, &:active, &:focus {
            transition: background .2s ease-in;
            transition: color .2s ease-in;
            color: $textWhite;
            background: $backgroundDarkGrey;

            @include breakpoint(sm) {
              color: $textRed;
              background: $backgroundWhite;
            }
          }
        }

      }
    }
  }

  .flags {
      display: inline-block;
      position: absolute;
      top: 90px;
      left: 0;

    @include breakpoint(sm) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      left: initial;
    }

    &.open { 
      > .dropdown-menu {
        left: 0;

        @include breakpoint(sm) {
         left: -107px;
        }
      }
    }

    .btn {
      padding: 0px 5px;
      border-radius: 0;

      &.btn-default {
        border: 0;

        &:hover {
          background: $backgroundGrey;
        }
      }
    }
  }
}

.main {
  margin-top: 90px;
  text-align: center;

  @include breakpoint(sm) {
    margin-top: 150px;
  }
}

.footer {
  @include fontsize(12);
  background: $backgroundDarkGrey;

  .col1, .col2 {
    padding-top: 25px;
    padding-bottom: 25px;  
  }

  .col1 {
    column-count: 2;

    li {
      a {
        color: $textWhite;
        padding: 4px 15px;

        &:hover, &:focus, &:active {
          transition: color .2s ease-in;
          color: $textRed;
          text-decoration: underline;
          background: transparent;
        }
      }
    }
  }

  .created-by {
    p {
      color: $textWhite;
    }
  }
}
