// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
@import "variables";

.row {
  margin-bottom: 15px;
}

a, input, textarea, button {
  &:focus {
    outline:none;
  }
}

h2 {
  text-transform: uppercase;
  color: #515151;
  margin-bottom: 33px;
}

section {
  padding: 90px 0;

  @include breakpoint(md) {
    padding: 100px 0;
  }

  h1 {
    @include fontsize(32);
    line-height: 1.4;

    @include breakpoint(sm) {
      @include fontsize(40);
    }
  }

  h3 {
    @include fontsize(18);
    font-family: $fontItalic;
    font-style: italic;
    color: $textRed;
    margin-top: 40px;
  }

  p {
    @include fontsize(18);
    line-height: 1.8;
  }
}

#intro {
  padding: 100px 0;

  @include breakpoint(md) {
    padding: 150px 0;
  }
}

#intro, #ethics, #contact {
  background: $backgroundWhite;
}

#about, #team, #apply {
  background: $backgroundGrey;
}

#apply, #contact {
  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 50px;
  }
}