<div class="flags dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img src="<%= asset_path @img_flag %>" />
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @languages.each do |code, name|%>
      <%if code.to_s != @nationality.to_s %>
        <li><%= link_to name, 'set_language/' + name.downcase %></li>
      <% end %>
    <% end %>
  </ul>
</div>