<nav class="navigation">
  <ul>
    <li><a href="#">Info</a></li>
    <li><a href="#">Studi</a></li>
    <li><a href="#">Gruppo di ricerca</a></li>
    <li><a href="#">Criteri Etici</a></li>
    <li><a href="#">Apply</a></li>   
  </ul>
</nav>