<nav class="navigation nav-fixed-top">
  <ul>
    <li><a href="#about" class="page-scroll">About</a></li>
    <li><a href="#studies" class="page-scroll">Studies</a></li>
    <li><a href="#team" class="page-scroll">Research Team</a></li>
    <li><a href="#ethics" class="page-scroll">Ethics</a></li>
    <li><a href="#contact" class="page-scroll">Contact Us</a></li>
    <li><a href="#apply" class="page-scroll">Apply</a></li> 
  </ul>
</nav>