<nav class="navigation">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Studies</a></li>
    <li><a href="#">Research Team</a></li>
    <li><a href="#">Ethics</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Apply</a></li> 
  </ul>
</nav>